
.sample_d_sample_list .d_sample_list {
}


.sample_d_sample_list .footer {
}



.sample_d_sample_list .summary {
}



.sample_d_sample_list .detail {
}


.sample_d_sample_list .list {
    position: absolute;
    left: 3px;
    top: 2px;
    height: 19px;
    width: 97px;
}




.sample_d_sample_list .header {
}


.sample_d_sample_list .list_t {
    position: absolute;
    left: 3px;
    top: 2px;
    height: 16px;
    width: 97px;
}



